@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="form-area">

    <form action="#" method="POST" id="FrmLogin">
        <label for="Usuario" id="Usuario">Usuario</label>
        <input type="text" id="TxtUsuario" name="TxtUsuario" >
        <label for="Usuario" id="Usuario">Contraseña</label>
        <input type="password" id="TxtPassword" name="TxtPassword">
        <input type="submit" id="BtnIngresar" value="Ingresar">
    </form>
</div>
